# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
.dist/
build/
develop-eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.installed.cfg
*.egg-info/
pip-wheel-metadata/

# PyCharm specific
.idea/

# VS Code specific
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS specific
.DS_Store

# Python virtual environment
venv/
*.venv

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.nox/
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Profiling data
*.prof

# Test output
*.testoutput

# Sensitive or environment config files
.env
.env.*

# Ignore any compiled or temp files
*.tmp
*.temp
*.bak
~*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Cython debug symbols
cython_debug/
